* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: black;
}

html::-webkit-scrollbar-thumb {
    background: skyblue;
    border-radius: 5rem;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:  "Open Sans",sans-serif;
    background-color: black;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.home img {
    position: relative;
    top: 40px;
    animation-name: belajar;
    animation-duration: 5s;
    animation-name: nyobak;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.logo a {
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: 'comic sans ms';
    color: white;
    font-weight: bold;
}

span {
    color: skyblue;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: black;
    box-shadow:0 .5rem 1rem blue;
    z-index: 1;
    border-bottom: 2px solid skyblue;
    animation-name: belajar;
    animation-duration: 3s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation-name: belajar;
    animation-duration: 3s;
}

nav ul li {
    float: left;
    animation-name: belajar;
    animation-duration: 3s;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    animation-name: belajar;
    animation-duration: 3s;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    animation-name: belajar;
    animation-duration: 3s;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    animation-name: belajar;
    animation-duration: 3s;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: skyblue;
    width: 100%;
    line-height: 50px;
    animation-name: belajar;
    animation-duration: 3s;
    animation-name: nyobak;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

a.tbl-biru {
    background: skyblue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    animation-name: belajar;
    animation-duration: 3s;
}

.tbl-biru:hover {
    background: blue;
    text-decoration: none;
    animation-name: belajar;
    animation-duration: 3s;
}

.tbl-kuning {
    background: skyblue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    animation-name: belajar;
    animation-duration: 3s;
}

p {
    font-family: comic sans ms;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    color: white;
    animation-name: belajar;
    animation-duration: 3s;
}

.tbl-kuning:hover {
    background: blue;
    text-decoration: none; 
    animation-name: belajar;
    animation-duration: 3s; 
}

.tbl-brown {
    font-size: 14px;
    text-align: right;
    background: skyblue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    animation-name: belajar;
    animation-duration: 3s;
}

.tengah {
    text-align: center;
    width: 100%;
    animation-name: belajar;
    animation-duration: 3s;
}

.image-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.image-desain {
    width: 20%;
    position: relative;
    left: 20px;
    margin: 1.5rem;
    animation-name: belajar;
    animation-duration: 3s;
}

.image-desain img {
    width: 100%;
    border-radius: 20px;
    animation-name: belajar;
    animation-duration: 3s;
    animation-name: nyobak;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}

.image-desain img:hover {
    filter: grayscale(30%);
    transition: 0,5s;
    transform: scale(1.1);
    animation-name: belajar;
    animation-duration: 3s;
}

.image-list-box {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.image-desain-box {
    width: 20%;
    position: relative;
    left: 20px;
    margin: 1.5rem;
    animation-name: belajar;
    animation-duration: 3s;
}

.image-desain-box img {
    width: 100%;
    border-radius: 20px;
    animation-name: belajar;
    animation-duration: 3s;
    animation-name: nyobak;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}

.image-desain-box p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    color: white;
}


@media(max-width: 1000px){
    .image-desain{
        display: block;
        text-align: center;
    }
    .image-desain img{
        width: 50%;
    }
}

@media(max-width: 670px){
    .image-desain img{
        width: 70%;
    }
}

.image-desain p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    color: white;
}

h1 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    color: white;
}

.owner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.kartu-owner {
    width: 20%;
    margin: 0 auto;
}

.kartu-owner img {
    width: 80%;
    border-radius: 50%;
}

.kartu-owner p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: white;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.logo-partner {
    width: 20%;
    margin: 0 auto;
}

.logo-partner img {
    width: 150px;
}

#contact {
    background: skyblue;
    border-radius: 30px;
    padding: 50px 0px 50px 0px;
    animation-name: belajar;
    animation-duration: 3s;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 10%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
    width: 100%;
    line-height: 50px;
    animation-name: nyobak;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    color: white;
}

.service {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

b {
    color: skyblue;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

h {
    font-family: 'comic sans ms';
    font-size: 25px;
    color: skyblue;
    font-weight: bold;
}

.s-box {
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 100px 20px;
}

.s-box p {
    line-height: 1.7;
}

.pra p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.button {
    background-color: skyblue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover {
    background-color: transparent;
    border: 2px solid skyblue;
    cursor: pointer;
}

@media screen and (max-width: 991.98px) {
    html {
        scroll-behavior: smooth;
    }
    
    .wrapper {
        width: 90%;
    }

    .logo {
        font-size: 30px;
        display: block;
    }

    nav {
        width: 100%;
        margin: auto;
        display: flex;
        line-height: 80px;
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        max-width: auto;
        line-height: 70px;
    }

    nav .menu ul li {
        display: inline;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-owner {
        width: 40%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .kartu-owner p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .partner {
        width: 40%;
    }

    .partner img {
        width: 100%;
    }

    h3 {
        font-weight: 100%;
        font-size: 25px;
        width: 100%;
        line-height: 50px;
    }

    .footer-section {
        width: 30%;
        font-size: 15px;
    }

    #copyright {
        font-size: 12px;
    }
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: red;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        font-size: 55px;
        display: block;
        width: 50%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        max-width: auto;
        line-height: 70px;
    }

    nav .menu ul li {
        display: inline;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .image-desain {
        width: 44%;
    }

    .image-desain img {
        width: 100%;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 44%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }

    .kartu-owner {
        width: 40%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .kartu-owner p {
        font-size: 20px;
        text-align: center;
        position: relative;
        right: 10px;
    }

    .logo-partner {
        width: 40%;
    }

    .logo-partner img {
        width: 100%;
    }

    h3 {
        font-weight: 100%;
        font-size: 23px;
        width: 100%;
        line-height: 50px;
    }

    .footer-section {
        width: 30%;
        font-size: 15px;
    }

    #copyright {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .logo a {
        font-size: 100px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 40%;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner {
        width: 42%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .image-desain p {
        font-size: 40px;
        text-align: center;
    }

    .image-desain-box {
        width: 40%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 40px;
        text-align: center;
    }

    .image-desain h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    .logo a {
        font-size: 55px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 40%;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner {
        width: 40%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 40%;
    }

    .image-desain-box img {
        width: 100%;
    }
    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 532px) {
    .logo a {
        font-size: 55px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 39%;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner {
        width: 39%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .kartu-owner p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 39%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 532px) {
    .logo a {
        font-size: 55px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 38%;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner {
        width: 38%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 38%;
    }

    .image-desain-box img {
        width: 100%;
    }
}

@media screen and (max-width: 532px) {
    .logo a {
        font-size: 55px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 37%;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner {
        width: 37%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 532px) {
    .logo a {
        font-size: 24px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .home img {
        width: 120%;
        right: 10%;
    }

    .service-container {
        padding: 20px ;
    }

    .s-box {
        padding: 40px;
    }

    h {
        font-size: 25px;
    }

    .s-box p {
        font-size: 15px;
    }

    .image-desain {
        width: 100%;
    }

    .image-desain img {
        width: 90%;
    }

    .kartu-owner {
        width: 35%;
    }

    .kartu-owner img {
        width: 100%;
    }

    .logo-partner {
        width: 36%;
    }

    .logo-partner img {
        width: 100%;
    }

    .image-desain p {
        font-size: 24px;
        text-align: left;
        padding: 30px;
        position: relative;
        right: 30px;
    }

    .image-desain-box {
        width: 100%;
    }

    .image-desain-box img {
        width: 90%;
    }

    .image-desain-box p {
        font-size: 24px;
        text-align: left;
        padding: 30px;
        position: relative;
        right: 30px;
    }

    .image-desain h1 {
        color: gray;
        font-size: 20px;
        text-align: left;
        position: relative;
        bottom: 30px;
    }

    .tbl-brown {
        color: white;
        font-size: 20px;
        text-align: left;
        position: relative;
        bottom: 30px;
    }

    .gambar img {
        width: 30px;
        position: relative;
        bottom: 100px;
        left: 290px;
    }

    .kartu-owner p {
        font-size: 20px;
        text-align: center;
    }

    .images {
        width: 29%;
        position: relative;
        left: 89px;
    }
}

@media screen and (max-width: 400px) {
    .logo a {
        font-size: 19px;
        display: block;
        width: 50%;
        text-align: center;
    }

    h {
        font-size: 27px;
    }

    .s-box p {
        font-size: 18px;
    }

    .tbl-brown {
        font-size: 15px;
    }

    .images {
        width: 39%;
        position: relative;
        left: 65px;
    }

    .images img {
        width: 100%;
    }

    .image-desain {
        width: 80%;
        left: 12px;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner p {
        font-size: 19px;
        text-align: center;
    }

    .image-desain p {
        font-size: 21px;
        text-align: left;
        padding: 30px;
        position: relative;
        right: 35px;
    }

    .image-desain-box {
        width: 80%;
        left: 12px;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 21px;
        text-align: left;
        padding: 30px;
        position: relative;
        right: 35px;
    }
}

@media screen and (max-width: 375px) {
    .logo a {
        font-size: 21px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .home img {
        width: 120%;
        right: 10%;
    }

    h {
        font-size: 27px;
    }

    .s-box p {
        font-size: 18px;
    }

    .tbl-brown {
        font-size: 15px;
    }

    .images {
        width: 32%;
        position: relative;
        left: 75px;
    }

    .images img {
        width: 100%;
    }

    .image-desain {
        width: 85%;
        left: 0px;
    }

    .image-desain img {
        width: 100%;
    }

    .kartu-owner p {
        font-size: 19px;
        text-align: center;
    }

    .image-desain p {
        font-size: 21px;
        text-align: left;
        padding: 30px;
        position: relative;
        right: 35px;
    }

    .image-desain-box {
        width: 85%;
        left: 0px;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 21px;
        text-align: left;
        padding: 30px;
        position: relative;
        right: 35px;
    }
}


@media screen and (max-width: 300px) {
    .logo a {
        font-size: 35px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 31%;
    }

    .image-desain img {
        width: 100%;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 31%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 250px) {
    .logo a {
        font-size: 35px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 29%;
    }

    .image-desain img {
        width: 100%;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 29%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .logo a {
        font-size: 16px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 85%;
    }

    .image-desain img {
        width: 100%;
    }

    .image-desain p {
        font-size: 15px;
        text-align: left;
        padding: 25px;
        position: relative;
        right: 30px;
    }

    .image-desain-box {
        width: 85%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 15px;
        text-align: left;
        padding: 25px;
        position: relative;
        right: 30px;
    }
}

@media screen and (max-width: 250px) {
    .logo a {
        font-size: 35px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 29%;
    }

    .image-desain img {
        width: 100%;
    }

    .image-desain p {
        font-size: 20px;
        text-align: center;
    }

    .image-desain-box {
        width: 29%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 266px) {
    .logo a {
        font-size: 25px;
        display: block;
        width: 50%;
        text-align: center;
    }

    .image-desain {
        width: 28%;
    }

    .image-desain img {
        width: 100%;
    }

    .image-desain p {
        font-size: 15px;
        text-align: center;
    }

    .image-desain-box {
        width: 28%;
    }

    .image-desain-box img {
        width: 100%;
    }

    .image-desain-box p {
        font-size: 15px;
        text-align: center;
    }
}


.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: skyblue;
}

@media screen and (max-width: 991.98px) {
    .logo a {
        display: inline;
    }
    .tombol-menu {
        display: flex;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul li {
        width:100%;
        border-bottom:1px solid yellowgreen;
    }
}

@keyframes belajar {
    from {
        opacity: 0%;
        transform: translateY(20px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes nyobak {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateY(15px);
    }
}

.slider{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 250px;
}

.sliders {
    width: 500%;
    height: 500px;
    display: flex;
}

.sliders input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide video {
    width: 600px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 600px;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: red;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

@media screen and (max-width: 500px) {
    .slider{
        width: 280px;
        height: 230px;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 20px;
    }
    
    .sliders {
        width: 500%;
        height: 260px;
        display: flex;
    }
    
    .sliders input {
        display: none;
    }
    
    .slide {
        width: 20%;
        transition: 2s;
    }
    
    .slide video {
        width: 260px;
        height: 220px;
    }
    
    .navigation-manual {
        position: absolute;
        width: 260px;
        margin-top: 220px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn {
        border: 2px solid white;
        padding: 4px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right: 30px;
    }
    
    .manual-btn:hover{
        background: red;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    
    #radio2:checked ~ .first{
        margin-left: -20%;
    }
    
    #radio3:checked ~ .first{
        margin-left: -40%;
    }
}